{% extends 'base.html' %}

{% block title %} Log In {% endblock title %}

{% block body %}
<center>
    <div class="container">

        <h1>Log in To MyBlog</h1>

        <form action="/" method="post">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required> <br>
            <button type="submit">Login</button>

        </form>

        <p>Don't have an account? <a href="/user">Create New Account</a></p>

    </div>
</center>


{% endblock body %}